*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--main-bg: #8dc4f3;
	--site-bg: rgb(149, 176, 184);
	--dark-bg: rgb(109, 128, 134);
}

header,
footer {
	background: var(--dark-bg);
	color: rgb(220, 237, 253);
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	height: 2rem;
}
body {
	display: flex;
	height: 100vh;
	flex-direction: column;
	text-align: center;
}

main {
	flex: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--site-bg);
}

.calculator-body {
	background: var(--main-bg);
	min-width: 13rem;
	height: 20rem;
	display: flex;
	flex-direction: column;
	padding: 0.6rem;
	gap: 0.6rem;
	border: 2px solid rgb(78, 135, 241);
	border-radius: 0.7rem;
}

.screen {
	height: 30%;
	padding-bottom: 0;
	background: var(--main-bg);
}

.screen-content {
	background: #d9f2fc;
	height: 100%;
	border: 1px solid rgb(76, 146, 250);
	border-radius: 0.7rem;
	display: flex;
	flex-direction: column;
}

.entered,
.current {
	height: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 2.4rem;
	padding: 0 1rem;
}

.entered {
	font-size: 1.8rem;
	word-spacing: -0.1rem;
}

.keys {
	height: 70%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	align-items: center;
	gap: 0.2rem;
}

.key {
	height: 100%;
	width: 100%;
	border: 1px solid rgb(76, 146, 250);
	border-radius: 0.4rem;
	font-weight: 540;
	font-size: 1.5rem;
	padding: 0.3rem;
}

.key:hover {
	background: var(--dark-bg);
}

.key:active {
	transform: scale(93%);
}

.long {
	grid-column: span 2;
}
